
#features {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#features_title {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    
    padding-bottom: 15px;
}

.feature_name {
    cursor: pointer;
    border: 1px solid black; 
    background-color: cccccc;
    width: 200px;
    margin-top: 2px;
    padding-left: 2px;
    text-align: center;
}

.feature_div {
    display: table-cell;
    padding-left: 2px;
    margin-left: auto;
    margin-right: auto;
}

.feature_row {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.feature_elems { 
    width: px;
}

.feature_elem {
    text-align: left;
    display: block;
    padding-left: 5px;
}

/* Tags Styles */

#tags {
    display: block;
}

#tags_title {
    padding-top: 25px;
    padding-bottom: 15px;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

#tag_description {
    font-size: medium;
    text-align: justify;
    padding-top: 15px;
    padding-bottom: 15px;
}

.tag_name {
    cursor: pointer;
    border: 1px solid black; 
    background-color: cccccc;
    width: 160px;
    margin-top: 2px;
    padding-left: 2px;
    text-align: center;
}

.tag_div {
    display: table-cell;
    padding-left: 2px;
}

.tag_row {
    display: block;
}

.tag_elems { 
    width: 160px;
}

.tag_elem {
    text-align: left;
    display: block;
    padding-left: 5px;
}

/* tag page styles */

#tag_title {
    font-size: x-large;
    font-style: bold;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.tag_children_label {
    text-align: center;
    font-size: medium;
    font-weight: bold;    
    
    padding-bottom: 5px;
}

.tag_children {
    text-align: center;
    padding-bottom: 10px;
    padding-right: 15px;
}

#optional_attributes_label {
    font-size: medium;
    font-weight: bold;
    
    text-align: center;
    background-color: cccccc;
    
    border: 1px solid black;
}

#optional_attributes {
    border-left: 1px solid black;
    border-right: 1px solid black;
    
    margin-bottom: 10px;
}

#required_attributes_label {
    font-size: medium;
    font-weight: bold;
    
    text-align: center;
    background-color: cccccc;
    
    border: 1px solid black;
}

#required_attributes {
    border-left: 1px solid black;
    border-right: 1px solid black;
    
    margin-bottom: 10px;
}

.attribute {
    display: block;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.attribute_name {
    text-align: center; 
    width: 100px;
    display: table-cell;

    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.attribute_desc {
    text-align: left;
    width: 700px;
    display: table-cell;
    
    border-bottom: 1px solid black;
    padding-left: 5px;
}

.tag_examples_label {
    text-align: center;
    font-size: medium;
    font-weight: bold;
    margin-bottom: 10px;
}

.tag_examples {
    
}

.tag_example_container {
   margin-bottom: 15px;
}

.tag_example_title {
    background-color: cccccc;
    font-size: medium;
    font-weight: bold;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.tag_example {
    text-align: left;
}

/* tag event highlighting */

.tag_events_label {
    font-size: large;
    font-weight: bold;
    padding-bottom: 5px;
}

.tag_events {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
    
.tag_event_name {
    font-size: medium;
    font-weight: bold;
    
    text-align: center;
    background-color: cccccc;
    
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.tag_event {
    margin-bottom: 10px;
}

.tag_event_attribute {
    display: block;
    width: 800px;
}

.tag_event_attribute_name {
    text-align: center; 
    width: 150px;
    display: table-cell;

    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.tag_event_attribute_value {
    text-align: left;
    width: 650px;
    display: table-cell;
    
    border-bottom: 1px solid black;
    padding-left: 5px;
}
/* feature css */

.feature_title {
    font-size: larger;
    font-weight: bold;    
    margin-top: 15px;
}
    
.feature_description {
    text-align: justify;
}

.feature_examples_label {
    text-align: center;
    font-size: medium;
    font-weight: bold;
    margin-bottom: 10px;
}

.feature_example_container {
   margin-bottom: 15px;
}

.feature_example_title {
    background-color: cccccc;
    font-size: medium;
    font-weight: bold;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.feature_example {
    text-align: left;
}

/* HTML tag fixing */

pre {
    background-color: black;
    color: white;    
    border: 1px solid gray;
    margin: 0px;
    padding: 5px;
}

li {
    margin-bottom: 5px;    
}

table {
    border-spacing: 0px;
    border-style: solid;
    border-color: black;
    border-collapse: separate;
    
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

table th {
    background-color: cccccc;
}

table td {
    padding: 2px;
}

#body {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* xml highlighting */

.xmlverb-default          { color: green; font-family: monospace }
.xmlverb-element-name     { color: green; }
.xmlverb-element-nsprefix { color: green; }
.xmlverb-attr-name        { color: purple; }
.xmlverb-attr-content     { color: blue; font-weight: bold }
.xmlverb-ns-name          { color: green; }
.xmlverb-ns-uri           { color: blue; }
.xmlverb-text             { color: black; font-weight: bold }
.xmlverb-comment          { color: black; font-style: italic }
.xmlverb-pi-name          { color: red; font-style: italic }
.xmlverb-pi-content       { color: orange; font-style: italic }

.xml_code {
    border: 1px solid black;    
    background-color: eeeeee;
    padding: 5px;
}
